<br />
<div class="box-box col-10 offset-1">
  <br />
  <h1><center>Add a New Author</center></h1>

  <% if flash[:notice] %>
    <h1><%= flash.now[:notice] %></h1>
  <% elsif flash[:alert] %>
    <h1><%= flash.now[:alert] %></h1>
  <% end %>

  <br />
  <div>
    <%= simple_form_for @author do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :age %>
      <br />
      <%= f.submit 'Create' , class: 'btn btn-primary' %>
    <% end %>
  </div>
  <br />
</div>